body{
    margin: 0;
    padding: 0;
}

.container1{
    background-color: yellow;
    text-align: justify;
    padding: 5px;
}

#img1{
    float: left;
        padding-right: 5px;
}

#img2{
    float: right;
    padding-left: 5px;
}

.container2{
    background-color:darkgreen;
    padding: 10px;
    text-align: justify;
    color: white;
}

.container3{
    background-color: lightblue;
    padding: 10px;
    text-align: justify;
    color: black;
}